body
		{
			font-family: verdana, Geneva, Tahoma, sans-serif;
			font-size:20px;
			text-decoration:none;
			color: black;
		}
		a
		{
			font-family: verdana, Geneva, Tahoma, sans-serif;
			font-size: 20px;
			text-decoration:none;
			color: black;
		}
		a:hover
		{
			font-family: verdana, Geneva, Tahoma, sans-serif;
			font-size: 20px;
			text-decoration:underline;
			color: black;
		}
		a:visited
		{
			font-family: verdana, Geneva, Tahoma, sans-serif;
			font-size: 20px;
			text-decoration:none;
			color: black;
		}